<p id="notice"></p>

<%= turbo_stream_from @room %>
<%= turbo_frame_tag "room" do %>
  <%= render @room %>

  <p>
    <%= link_to 'Edit', edit_room_path(@room) %>
    <%= link_to 'Back', rooms_path, "data-turbo-frame": "_top" %>
    <%= link_to 'Add chat', new_room_message_path(@room), data: { turbo_frame: "new_messages" } %>
  </p>
<% end %>

<%= turbo_frame_tag "new_messages" %>

<div id="messages">
  <%= render @room.messages.order(created_at: :desc) %>
</div>

